@font-face {
  font-family: InterSemiBold;
  src: url(/css/fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: InterMedium;
  src: url(/css/fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: InterRegular;
  src: url(/css/fonts/Inter-Regular.ttf);
}

*,
body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-family: InterSemiBold;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 343px;
}

.container-elements {
  margin: auto;
  border: 0px solid #efefef;
}

.inputs {
  font-family: InterMedium;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  width: 343px;
  height: 34px;
  color: #bdbdbd;
  background-color: #f6f6f6;
  padding: 12px 12px;
}

.labelcheck {
  font-family: InterRegular;
  font-size: 16px;
  color: #666666;
  display: inline-block;
  height: 17px;
  text-align: auto;
  vertical-align: middle;
  margin-top: 15px;
}

.labelcheck > input[type="checkbox"] {
  vertical-align: middle;
  font-family: InterRegular;
  height: 17px;
  width: auto;
  margin: 0;
  text-align: left;
}

.btn-imc {
  font-family: InterSemiBold;
  font-size: 16px;
  width: 343px;
  height: 51px;
  border-radius: 100px;
  background-color: #45fefe;
  border: 1px solid #45fefe;
  color: #000000;
}

.btn-under {
  font-family: InterSemiBold;
  font-size: 16px;
  width: 343px;
  height: 51px;
  border-radius: 100px;
  background-color: #ffffff;
  border: 4px solid #45fefe;
  color: #000000;
}
